{%extends 'base.html'%}
{%block content%}
    {%if user.is_authenticated%}
        <h1>Welcome there {{user.profile.username}}</h1>
        <img src="{{user.profile.photo}}" class="img-account">
        <table class="w3-table-all" style="width:100%">
          <tr>
            <th>Username</th>
            <th>Fullname</th>
            <th>Email</th>
          </tr>
          <tr>
            <td>{{user.profile.username}}</td>
            <td>{{user.profile.fullname}}</td>
            <td>{{user.profile.email}}</td>
          </tr>
        </table>
    {%else%}
        <p id="p-large"a>You must be logged in to view this page</p>
    {%endif%}
        <br><a href="/logout">Go back</a>
{%endblock%}